<!doctype html>
<html lang="en" class="no-js">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</head>
<body>
	<div id="container">
        Latitude:<input id='latitude' type="text" />,
        Longtitude:<input id='longtitude' type="text" />
        <button type="button" onclick="guncelle()">Shorten!</button>
        <div id='result'></div>
        <script type='text/javascript'>
            function guncelle(){
                var latitude = $('#latitude').val();
                var longtitude =  $('#longtitude').val();
                $.get('/put',{ la: latitude, lo: longtitude }, function(data) {
                    $('#result').html('Your url is <a href="http://micirsoft.appspot.com/' + data + '">here</a>');
                }); 
            }       
        </script>
	</div>

	<script>!window.jQuery && document.write(unescape('%3Cscript src="static/js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/script.js"></script>
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>
